* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}


[class *="col"] {
    height: 5em;
    border: 2px solid yellow;
    background-color: blue;
}

.container-nest {
    width: 90%;
    margin: 0 auto; 
    display: flex;
    flex-direction: row;
}

.col-nest-1 {
    width: 20%;
    height: 3em;
    background-color: crimson;
}

.col-nest-2 {
    width: 20%;
    height: 3em;
    margin: 0px 3px;
    background-color: crimson;
}

.col-nest-3 {
    width: 60%;
    height: 3em;
    background-color: crimson;
} 

.col-nest-4 {
    width: 50%;
    height: 3em;
    background-color: crimson;
} 

.margin-fluid {
    margin-top: 2em;
}

.border-left {
    border-left:0; 
}

.border-right {
    border-right:0; 
}

.border-both {
    border-left: 0;
    border-right: 0;
}

.col-height-color {
    height: 3em;
    background-color: crimson;
}

.margin-col {
    margin:0px 3px;
}

.col-height {
    height: 2.5em;
}

.margin-col {
    margin:auto;
}

.margin-col2 {
    margin-top: 2.5em;
}

.flex-round {
    display: flex;
    justify-content: space-around;
    background-color: blue;
    height: 5em;
    width: 100%;
    align-items: center;
}
 
.col-nest-5 {
    width: 20%;
    height: 3em;
    background-color: crimson;
}

.col-nest-6 {
    width: 20%;
    height: 3em;
    margin: 0px 3px;
    background-color: crimson;
}

.col-nest-7 {
    width: 20%;
    height: 3em;
    background-color: crimson;
} 

.flex-between {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    height: 5em;
    width: 100%;
    align-items: center;
}